<p id="notice"><%= notice %></p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
